<div class="flex h-screen items-center justify-center text-white select-none">
  <div class="glass-card-1 p-5 text-center w-5/6 relative">

    <div class="absolute left-2 top-2 w-8 h-8 flex items-center justify-center text-white overflow-hidden bg-[#A770EF] rounded-full duration-500 shadow-custom1" [ngClass]="{'w-32 shadow-xl':darkModeCheck}" (click)="darkMode()">
      <i class="fa-solid fa-moon"></i>
      <span *ngIf="darkModeCheck" class="ml-2 whitespace-nowrap">Coming soon</span>
    </div>
    <img src="./../assets/image/duyduy.jpg" class="w-2/5 mx-auto rounded-xl ring-2 ring-[#CF8BF3]" alt="">
    <h1 class="text-2xl font-extrabold mt-3">Lê Quang Duy</h1>
    <p class="mt-1 mb-5">Web Developer</p>
    <a href="https://portfolio-dlq.vercel.app/" class="py-2 px-5 rounded-lg shadow-custom1 bg-[#fdb99b] mb-3 focus:ring focus:ring-[#CF8BF3 w-fit mx-auto">View Portfolio</a>
    <p class="mt-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum ex sed praesentium veniam, molestiae neque quam enim corporis in nemo?</p>
    <div class="p-3 rounded-xl  bg-[#CF8BF3] mt-4 mb-3 focus:ring focus:ring-[#CF8BF3 w-fit mx-auto">
      <i class="fa-regular fa-envelope mr-3"></i>
      <a href="mailto:duyle7581@gmail.com" class="">duyle7581@gmail.com</a>
    </div>
    <a href="./../assets/image/duyduy.jpg" download><i class="fa-solid fa-arrow-down mr-3 animate-bounce"></i><span>Download CV</span></a>
    <div class="flex w-full justify-between items-center text-3xl mt-5">
      <a href="https://www.instagram.com/dql.639/" target="_blank" class=""><i class="fa-brands fa-instagram"></i></a>
      <a href="https://www.linkedin.com/in/l%C3%AA-quang-duy-20bb14198/"><i class="fa-brands fa-linkedin"></i></a>
      <a href="https://gitlab.com/duylepain" target="_blank"><i class="fa-brands fa-gitlab"></i></a>
      <i class="fa-brands fa-dev"></i>
      <a href="https://www.facebook.com/duylq0603" target="_blank"><i class="fa-brands fa-facebook"></i></a>
    </div>
  </div>
</div>
